@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@font-face {
  font-family: "Voyage";
  src: url('fonts/VJ_Voyage/Voyage-Regular.otf') format("opentype");
}
@font-face {
  font-family: "Kobe";
  src: url('fonts/VJ_Kobe/Kobe.otf') format("opentype");
}

body {
  margin: 0;
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-base:"Voyage","DM Sans", sans-serif;

  --lgreen-color: #98dd98;
  --green-color: #00a116;

  --dyellow-color: #FFD190;
  --lyellow-color: #FFE699;
  --beige-color: #EFDECD;
  --dwhite-color: #F3EEE8;
  --gray-color: #D1CBC4;
  --lbrown-color: #584f3e;
  --brown-color: #442b13;

  --black-color: #030303;
  --white-color: #ffffff;

}